* { border-box; box-sizing: border-box; }

html, body {
	height: 100%;
}

body {
	background: url("../img/bg.jpg") center no-repeat;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', 'Arial', sans-serif;
}

a {
	color: #fff;
	outline: none;
}

a:hover{
	color: #debcc3;
}

footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
footer a {
	font-weight: bold;
    text-decoration: none;
}
/* Header */
.my-header {
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	max-width: 500px;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.my-header h1 {
	margin: 0;
	font-size: 3em;
	line-height: 1;
}

.my-header h1 span {
	display: block;
	padding: 0.5em 0 0.6em 0.1em;
	font-size: 40%;
	line-height: 1.2;
	opacity: 0.7;
}

/* Social icons */
.my-social-icons {
	font-size: 1.5em;
}

.my-social-icons a {
	display: inline-block;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
	width: 42px;
}

.my-social-icons a:hover {
	color: #debcc3;
}

@media screen and (max-width: 25em) {

	.my-social-icons a:hover {
		color: #debcc3; /*escolher outra cor*/
	}

}

/*Animacoes CSS3*/
.css-animate {
  transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

h1:hover .css-animate { 
  transform: scale(1.2); 
}

/*Social Icons*/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?27402514');
  src: url('../fonts/fontello.eot?27402514#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?27402514') format('woff'),
       url('../fonts/fontello.ttf?27402514') format('truetype'),
       url('../fonts/fontello.svg?27402514#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-skype:before { 
	content: '\e800'; 
}
.icon-twitter:before { 
	content: '\e801'; 
} 
.icon-linkedin:before { 
	content: '\e802'; 
	position: relative;
    top: -1px;
} /* adicionei uma pequena correcao de posicionamento em relacao aos outros icons*/
.icon-github:before { 
	content: '\e803'; 
} 
.icon-mail:before { 
	content: '\e804'; 
} 


/*extras*/

article, aside, details, figcaption, figure, footer, 
header, hgroup, main, nav, section, summary {
    display: block;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
