* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  line-height: 1.5;
  background: #333;
  color: #ddd;
  font-weight: bold;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #848484;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
